<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @membership.user %>
</p>

<p>
  <b>Beer club:</b>
  <%= @membership.beer_club %>
</p>

<%= edit_and_destroy_buttons(@membership) %>